<div class="container mt-3">

    <!-- Campo de búsqueda con botón -->
    <div class="mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar por nombre o correo..."
                [(ngModel)]="searchAlumno">
            <button class="btn btn-primary" (click)="getAlumnoSearch()">Buscar</button>
        </div>
        <span *ngIf="!alumnoEncontrado" style="color: aliceblue;"> El alumno no existe </span>
    </div>

    <div>
        <h5 style="color: aliceblue;">Filtrar por:</h5>
    </div>

    <div class="row mb-2">

        <!-- Filtro por materia -->
        <div class="col-md-4">
            <select class="form-select" [(ngModel)]="selectMateria" (change)="filtroAlumnos()">
                <option value="">Todas las materias</option>
                <option *ngFor="let materia of materias" [value]="materia.materia">{{materia.materia}}</option>
            </select>
        </div>

        <!-- Filtro por estatus -->
        <div class="col-md-4">
            <select class="form-select" [(ngModel)]="selectEstatus" (change)="filtroAlumnos()">
                <option value="">Todos los estatus</option>
                <option value="Aprobado">Aprobado</option>
                <option value="Reprobado">Reprobado</option>
            </select>
        </div>

    </div>

    <!-- Tabla de alumnos -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead class="table-info">
                <tr>
                    <th>Nombre</th>
                    <th>Materia</th>
                    <th>Calificación</th>
                    <th>Estatus</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos">
                    <td><strong>{{ alumno.nombre }}</strong></td>
                    <td><strong>{{ alumno.materia }}</strong></td>
                    <td><strong>{{ alumno.calificacion }}</strong></td>
                    <td>
                        <span
                            [ngClass]="{'text-success': alumno.estatus === 'Aprobado', 'text-danger': alumno.estatus === 'Reprobado'}">
                            {{ alumno.estatus }}
                        </span>
                    </td>
                    <td><strong>{{ alumno.correo }}</strong></td>
                    <td>
                        <button class="btn btn-danger me-2" (click)="deleteAlumno(alumno.alumnoID)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <a [routerLink]="['/home/alumnos/edit/', alumno.alumnoID]" class="btn btn-success">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>